body,html {
    height: 100%;
    margin: 0;
}


/*body*/



body {
    margin:0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Source Code Pro', monospace;


}

/*Navbar*/

.header {

    background-color:pink;
    height: 30px;
    padding: 5px 25px;
}

.navbar li a {
    color:rgb(150, 29, 7);
}



.contactUs {
    padding-right:10em;
}


/*callout*/


@media (max-width: 767px) {
.callout-container {
    background: url("images/bamboo-1850195_1920-altimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

@media (min-width:768px) {
.callout-container {
    height: 100vh;
    background: url("images/tea-2238290-tiny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

.dropdown-menu-mobile {
    list-style-type: none;
    padding:0;
}

.dropdown-item {
    color:#3e1010; /*deep red*/
}

.navbar-toggler-icon {
  color:red;
}

.since {

    position: relative;
    left: 10%;
}

.lead-paragraph {
    padding-top: 5vh;
}


/*divider*/


.block-divider-lg {
    display: block;
    background-color: #3e1010; /*deep red*/
    height: 1vh;
}



.buffer-container {
    height: 33vh;

    background: url("images/tea-1869594-tiny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*purchase section*/

.purchase-container {


    background: url("images/traditional-chinese-3666268_1280-resolution-tiny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.media {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



.just-product-images {
    border: solid;
    color: #3e1010; /*deep red*/


}



.selection-text {
    font-weight: bolder;

}



.purchase {

    padding-top: 40vh;
    padding-bottom: 10vh;
}

.purchase-text {

    padding-top: 10px;
    padding-bottom: 50px;
    color:#3e1010 ;
    font-weight: bolder;

}





.individual-purchase {
    text-align: center;
    display: inline-block;
    padding: 0;

}





/*jumbotron*/



.jumbotron {
    background-color: transparent
}

.btn-sign-up {
    border-radius: 35px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.btn-sign-up:hover {
     background-color: #395d41;
     border-color: black;
}




/*instagram*/

.instagram-container {

    background-color: #3e1010;
    border-radius: 10px;


}


h1 {
    font-weight: bolder;
}


.fa-instagram   {
    padding-bottom: 20px;
    padding-top: 20px;


}

.social-media {
    padding-botton: 10px;
    padding-top: 5px;
    color:white;
    margin:0;

}


.social-text {
    color:white;
}


/*address*/

.address-container {
    padding-top: 5vh;
    margin-bottom: 1em;
}

.address {
    text-align: center;
    display:block;
    margin:0;

}


.footer-container {
    height: 3vh;

 background-color:#3e1010;
}

.footer-text {
    color:white;
    padding:0;
    margin:0;
}

