
/*body*/


body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Source Code Pro', monospace;
}



.callout-container {
    height: 100vh;
box-shadow: 0 30px;

    background: url("images/main-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 

}

.since {
    position: relative;
    left: 327px;
    top: 40px;
}

.buffer-container {
    height: 33vh;

    background: url("images/tea-1869594.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}







    
.individual-purchase {
    text-align: center;
    display: inline-block;
}





.tea-bags-img {
    height:10vh;
    width:50%;
}





.jumbotron {
    background-color: transparent
}

.instagram-container {}

.address-container {}

.address {
    text-align: center;
    display: inline-block;
}

.footer-container {
    height: 40vh;

    background: url("images/footer.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
