/*body*/

body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Source Code Pro', monospace;
}



.callout-container {
    height: 100vh;


    background: url("images/main-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}

.since {
    position: relative;
    left: 327px;
    top: 40px;
}

.block-divider-lg {
    display: block;
    background-color: #3e1010;
    height: 7px;
}

.buffer-container {
    height: 33vh;

    background: url("images/tea-1869594.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.purchase-container {


    background: url("images/traditional-chinese-3666268.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}



.just-product-images {
    border: solid;
    color: #3e1010;


}



.selection-text {
    font-weight: bolder;

}


.purchase {

    padding-top: 600px;
    padding-bottom: 150px;
}

.purchase-text {

    padding-top: 10px;
    padding-bottom: 50px;
    color: black;
    font-weight: bolder;
}





.individual-purchase {
    text-align: center;
    display: inline-block;
    padding: 0;

}






.block-divider {
    width: 150px;
    background-color: #944149;
}



.jumbotron {
    background-color: transparent
}

.btn-sign-up {
    border-radius: 35px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.btn-sign-up:hover {
     background-color: #395d41;
     border-color: black;
}

.instagram-container {}

.address-container {}

.address {
    text-align: center;
    display: inline-block;
  
}

.footer-container {
    height: 40vh;

    background: url("images/footer.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
